apiVersion: v1
kind: ConfigMap
metadata:
  name: dagster-instance
data:
  dagster.yaml: |
    storage:
      postgres:
        postgres_db:
          hostname: postgres
          username: dagster
          password: dagster
          db_name: dagster
          port: 5432

    code_servers:
      local_startup_timeout: 360

    run_launcher:
      module: dagster.core.launcher
      class: DefaultRunLauncher
