apiVersion: v1
kind: ConfigMap
metadata:
  name: dagster-instance
data:
  dagster.yaml: |
    storage:
      postgres:
        postgres_db:
          hostname: postgres
          username: dagster
          password: dagster
          db_name: dagster
          port: 5432

    code_servers:
      local_startup_timeout: 360

    run_launcher:
      module: dagster_k8s.launcher
      class: K8sRunLauncher
      config:
        service_account_name: default
        job_image: dagster-code-server
        image_pull_policy: Never
        instance_config_map: dagster-instance
        postgres_password_secret: dagster-postgresql-secret
        env_config_maps:
          - dagster-instance
        env_secrets:
          - dagster-postgresql-secret
